:root{
    --color-principal: #A0522D;
        /* Color principal de marca, títulos principales */
    --color-secundario: #87A96B;
        /* Acento secundario, sustentabilidad */
    --color-fondo-principal: #F5E6D3;
        /* Fondos principales, fotografía */
    --color-detallesPremium: #D4A437;
    /* Detalles premium, acentos */
    --color-detallesSuaves:#C47A6D;
    /* Acentos suaves, detalles femeninos */
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    background-color: whitesmoke;
    width: 100%;
    height: 150px;
}

.base_main_envoltorio{
    max-width: 2000px;
    width: 100vw;
    min-width: 300px;
    margin: 0 auto 0 auto;
    /*margin: top right bottom left*/
}

main{
    flex: 1;
        /*
            flex: 1;  equivale a: 
                flex-grow: 1;
                    -> El elemento puede crecer para ocupar espacio disponible.
                flex-shrink: 1;
                    -> El elemento puede encogerse si no hay suficiente espacio.
                flex-basis: 0%; 
                    -> El tamaño base inicial es 0, así que el crecimiento se reparte equitativamente.
        */
    /* min-height: 150vh; */
    background-color: #fff;
    display: column;
    justify-content: space-between;
    padding-top: 2%;
}

.contentInfo_Main{
    min-height: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.07);
    padding: 2rem 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

footer
{
    background-color: whitesmoke;
    width: 100%;
    height:auto;
}


.base_header_contenedor{
    max-width: 2000px;
    min-width: 300px;
    height: 100%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-areas: 'menu logo carrito'
                         'busqueda busqueda busqueda';
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60% 40%;
}

.base_menu{
    grid-area: menu;
    text-align: start;
}

.base_menu img{
    max-width: 30%;
    height: 100%;
    margin-left: 20%;
}

.base_menu img:hover{
    cursor: pointer;
}

.base_logo{
    grid-area: logo;
    text-align: center;
}

.base_logo img{
    max-width: 100%;
    height: 100%;
}

.base_carrito{
    grid-area: carrito;

    display: flex;
        flex-direction: column;
        align-items: flex-end;
}

.base_carrito_content_grid{
    max-width: 35%;
    min-width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20%;
}

.base_carrito_img_div{
    width: 100%;
    position: relative;
}

.base_carrito_img_div > img{
    width: 100%;    
    height: 100%;
    display: block; 
}

.base_carrito_img_div > p{
    
    position: absolute;
        bottom: 0;  
        right: 0;
        width: 50%;
        height: 50%;
    overflow: hidden;
    font-size: 9px;
    
    color: black;
        text-align: center;
        font-weight: bolder;
    
    display: flex;
        justify-content: center;
        align-items: center;

    border-radius: 50%;
    background-color: var(--color-detallesPremium);
}


/* .base_carrito img{
    max-width: 30%;
    height: 100%;
    margin-right: 20%;
    border: solid 1px red;
} */

.base_carrito img:hover{
    cursor: pointer;
}

.base_barraBusqueda{
    grid-area: busqueda;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base_barraBusqueda input{
    width: 70%;
    height: 75%;
    padding: 10px;
    border:solid 1px lightgray;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 0.8rem;
}

.base_barraBusqueda button{
    background-color: var(--color-principal);
    border:solid 1px var(--color-principal);
    border-radius: 0 5px 5px 0;
    color: white;
    height: 75%;
    width: 10%;
    min-width: 40px;
    max-width: 50px;
}

.base_barraBusqueda button{
    cursor: pointer;
}

.base_barraBusqueda button img{
    height: 60%;
}

.base_header_nav{
    display: none;
    font-size: 1.2em;
    border-top: 1px lightgray solid;
}
.base_header_nav ul{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base_header_nav li{
    display: inline-block;
}

.base_header_nav li a{
    text-decoration: none;
    color: var(--color-principal);
    font-weight: 700;
}
.base_header_nav li:not(:last-child){
    padding-right: 2em;
}

@media (min-width:800px){

    header{
        height: 120px;
    }
    .base_logo{
        text-align: right;
    }
    .base_menu{
        display: none !important;
    }
    .base_header_contenedor{
        grid-template-areas: 'logo busqueda carrito'
                              'nav nav nav';
        grid-template-columns: 15% 70% 15%;
    }

    .base_header_nav{
        display: block;
        grid-area: nav;
    }

    .base_carrito{
        justify-content: start;
        align-items: flex-start;
        padding-left: 10%;
    }
    
    .base_carrito_content_grid{
        flex-direction: column;
        align-items: center;
    }
    .base_carrito_img_div{
        max-width: 50%;
        min-width: 35px;
    }

    .base_barraBusqueda{
        justify-content: flex-end;
    }
    .base_barraBusqueda button{
        width: 10%;
        max-width: 60px;
        height: 60%;
    }
    .base_barraBusqueda input{
        width: 50%;
        height: 60%;
    }

    main{
        padding-top: 2%;
    }

    .contentInfo_Main{
        width: 80%;
        margin: 0 10% 0 10%;
    }
}

.HEADER_LOGGED_LI_NAV{
    display: flex !important;
    gap: .8em;
    justify-content: center;
    align-items: center;
}

.HEADER_LOGOUT_SPAN{
    font-family: "Inter", sans-serif !important;
        text-transform: capitalize;
        color: white;
        font-weight: 600;
    display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: .4em !important;
    background-color: var(--color-principal);
    border-radius: 5px !important;
    padding: 3px !important;
    font-size: 0.9em !important;
    margin: 0;
    cursor: pointer;
    transition: .3s ease all !important;
    height: 30px !important;              
}

    .HEADER_LOGOUT_SPAN:hover{
        background: rgb(85, 74, 74);
    }


.base_footer_contenedor{
    max-width: 2000px;
    min-width: 300px;
    height: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    overflow: hidden;
    
}
.base_footer_contenedor div{
    width: 100%;
    /* height: auto; */
}


.base_footer_logo{
    font-size: 0.5em;
}

.base_footer_logo img{
    width: 10rem;
    min-width: 120px;
}

.base_footer_infoPagina{
    height: 100%;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.base_footer_infoElem{
    font-size: 1rem;
}

.base_footer_infoElem h2{
    font-size: 1em;
    border-left: 2px var(--color-principal) solid;
    padding-left: 3%;
    margin-left: 3%;
    padding-bottom: 4%;
    color: var(--color-principal);
}

.base_footer_infoElem p{
    text-align: justify;
    padding-left: 7%;
    padding-right: 2%;
    font-size: 0.9em;
}

.base_footer_infoElem ul{
    padding-left: 10%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

.base_footer_infoElem li{
    list-style: none;
    display: flex;
    font-size: 0.9em;
}

.base_footer_infoElem li img{
    height: 1.2em;
    margin-right: 0.6em;
    vertical-align: middle;
}
.base_footer_infoElem a{
    text-decoration: none;
    color: black;
}


.base_footer_infoDesarrollo{
    height: auto !important;
    font-size: 0.5rem;
    text-align: center;
    margin: 3rem 0 1rem 0;
    width: 100%;
}
@media (min-width:1000px) {
    .base_footer_contenedor{
        flex-direction: column;
        gap:1rem;
    }
    .base_footer_logo img{
        width: 14rem !important;
    }
    .base_footer_contenedor div{
        width: auto;
    }
    
    .base_footer_infoPagina{
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
    }

    .base_footer_infoElem{
        width: 23% !important;
        font-size: 20px;
    }

    .base_footer_infoDesarrollo{
        font-size: 1rem;
    }
}

/* Menu Hambuerguesa */

.menu_hamb{
    
    width: 100vw;
    height: 100vh;
    position: absolute;
        top: 0;
    padding: 0% 0% 0% 0%;
    display: flex;
        flex-direction: column;

    background-color: whitesmoke;
}

.menu_hamb_disable{
    display:none;
}


.disable_content{
    display:none !important;
}

.menu_hamb_nav{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding-left: 5%;
    height: 80%;
}

.menu_hamb_div_botones{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-fondo-principal);
    padding: 0 3% 0 0;
}

        .menu_hamb_disable_bot{
            width: 35px;
            height: 35px;
            font-family: "Inter", sans-serif;
                font-weight: 700;

            background-color: var(--color-principal);
            color: white;
            border-radius: 30%;
            border: none;
        }

.menu_hamb_nav > ul{
    list-style: none;
}
    .menu_hamb_nav > ul > li{
        border-bottom: solid 1px lightgray;
        height: 50%;
        display: flex;
        align-items: center;
    }

    .menu_hamb_nav > ul > li> a{
        text-decoration: none;
        font-family: "Inter", sans-serif;
            font-weight: 700;
            color: var(--color-principal);
            font-size: 1.2em;
    }



/* Carrito */
#carrito-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
#carrito-modal.activo {
  display: flex;
}
#carrito-modal .carrito-modal-contenido {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 90vw;
  max-height: 80vh;
  overflow: auto;
  position: relative;
  box-shadow: 0 4px 32px rgba(0,0,0,0.13);
}
#carrito-modal-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #b85c2e;
}
#carrito-modal-lista > div {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}
#carrito-modal-lista strong {
  color: #b85c2e;
}
#carrito-modal h2 {
  font-size: 1.2rem;
  color: #b85c2e;
  margin-bottom: 1rem;
}


/*ESTILOS PARA EL TABLERO DE CARGA DE PRODUCTOS*/



/*ESTILOS PARA EL MODAL*/

.DivPrueba1{
    height: 300px;
    width: 500px;
    background-color: darkgray;
}


.ModalGenerico_DIV_FondoDifuso{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);

    display: flex;
    align-items: center;
    justify-content: center;
}


.ModalGenerico_DIV_Contenido{
    width: 50vw;
    min-height: 100px;
    max-height: 90vh;
    background: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    padding: 20px;
    overflow-y:scroll;
}

    .ModalGenerico_DIV_Contenido::-webkit-scrollbar{
        width: 8px;
    }

    .ModalGenerico_DIV_Contenido::-webkit-scrollbar-track {
        background: #f1f1f16c;
        border-radius: 10px;
    }

    .ModalGenerico_DIV_Contenido::-webkit-scrollbar-thumb {
        background: var(--color-principal);
        border-radius: 5px;
    }

    .ModalGenerico_DIV_Contenido::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

@media (max-width: 800px){
    .ModalGenerico_DIV_Contenido{
        width: 90vw !important;
    }
}

.ModalGenerico_DIV_Encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E8E8E8;
}
    .ModalGenerico_DIV_Encabezado h3{
        font-weight: 500;
        font-size: 18px;
        color: var(--color-principal);
        font-family: "Playfair Display", serif;
        border: none !important;
    }

.ModalGenerico_BotonCerrar{
    position: absolute;
    top: 18px;
    right: 15px;

    width: 30px;
    height: 30px;
    border: none;
    background: none !important;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: var(--color-principal) !important;
}

    .ModalGenerico_BotonCerrar:hover{
        background: #f2f2f2 !important;
    }

    .ModalGenerico_BotonCerrar svg{
        width: 100%;
        height: 100%;
    }

.ModalGenerico_Elementos_Contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif !important;
    font-size: 16px;
}
