:root{
    --color-principal: #A0522D;
        /* Color principal de marca, títulos principales */
    --color-secundario: #87A96B;
        /* Acento secundario, sustentabilidad */
    --color-fondo-principal: #F5E6D3;
        /* Fondos principales, fotografía */
    --color-detallesPremium: #D4A437;
    /* Detalles premium, acentos */
    --color-detallesSuaves:#C47A6D;
    /* Acentos suaves, detalles femeninos */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}
.indexMain{
    padding-top: 0 !important;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_main_envoltorio{
    max-width: 2000px;
    width: 100vw;
    min-width: 300px;
    margin: 0 auto 0 auto;
    background-color: whitesmoke;
}

.indexMain_background_color{
    padding: 0;
    margin: 0;
    width: 100%;
}
.index_heroBanner_div{
    width: 100%;
    text-align: center;
    position: relative;
}

.index_heroBanner_div img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    top: 0; /* sirve en caso de un div como este, donde tiene una altura definida, en caso de que la altura no este definida esta edición no se pone ; */
    right: 0; /* se debe usar para que margin 0 auto funcione */
    left: 0; /* se debe usar para que margin 0 auto funcione */
    margin: 0 auto; /* Esto lo centra */
}

.index_heroBanner_divTexto{
    position: absolute;
    top: 0; 
    right: 0; 
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0,50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    gap:15px;
    font-size: 10px;
}


.index_heroBanner_divTexto h1{
    color: var(--color-principal);
    color: white;
}

.index_heroBanner_divTexto p{
    color: gray;
}

.index_heroBanner_divTexto button{
    border-radius: 3px;
    font-size: 10px;
    border: none;
    height: auto;
    width: auto;
    padding: 0.6em 1em 0.6em 1em;
    background-color: var(--color-principal);
    color:lightgray;
    font-weight: bolder;
}

.index_heroBanner_divTexto button:hover{
    cursor: pointer;
}


.index_main_divInfo{
    width: 100%;
    height: auto;
    font-size: 16px;
}


#index_main_Categorias{
    font-size: 16px;
    display: flex;
        flex-direction: column;
}

        #index_main_Categorias>h2{
            font-size: .9em;
                font-weight: bolder;
                color: var(--color-principal);
                font-family: "Playfair Display", serif;
            height: 2.5em;
            display:flex;
                align-items: center;
            border-bottom: 1px solid lightgray;
            margin-left: 10px;
            margin-right: 10px;
        }

    .index_main_Categorias_Contenedor{
        width: 100%;
        height: 180px;
        gap: 5px;   
        display: grid;
        padding: 2%;
        grid-template-columns: repeat(5,15%);
        grid-template-rows: repeat(3,30%);
        grid-template-areas: 
        "cat1 cat1 cat1 cat2 cat2"
        "cat3 cat3 cat4 cat4 cat4"
        "cat5 cat5 cat5 cat5 cat5";
        
        justify-content: center;
        align-content: center; 
    }

    
    .index_main_Categorias_Contenedor_item{
        border-radius: 5px;
        background-color: var(--color-principal);
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
    }
            .index_cat_titulo{
                
                font-family: "Inter", sans-serif;
                    font-weight: bolder;
                    color: whitesmoke;
                    font-size: .8em;

                width: 100%;
                    height: 100%;
                    border-radius: 5px;
                
                display: flex;
                    justify-content: center;
                    align-items: center;

                opacity: 1;
                transition: opacity 0.4s ease;
            }
            
            .index_cat_imagen{
                opacity: 0;
                transition: opacity 0.4s ease;
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                background-color: gray;
                z-index: 10;
            }

        .index_main_Categorias_Contenedor_item:hover .index_cat_titulo{
            opacity: 0;       
        }
          
        .index_main_Categorias_Contenedor_item:hover .index_cat_imagen{
            opacity: 1;         
        }
          

        #index_cat1{
            grid-area: cat1;
        }

        #index_cat2{
            grid-area: cat2;
        }

        #index_cat3{
            grid-area: cat3;
        }
        #index_cat4{
            grid-area: cat4;
        }

        #index_cat5{
            grid-area: cat5;
        }

@media (min-width: 800px){
    #index_main_Categorias>h2{
        font-size: 1.5em;
        margin: 0;
    }

   .index_main_Categorias_Contenedor{
        
        height: 300px;
        grid-template-columns: repeat(5,15%);
        grid-template-rows: repeat(3,30%);
        grid-template-areas: 
        "cat1 cat1 cat1 cat2 cat2"
        "cat3 cat3 cat4 cat4 cat4"
        "cat5 cat5 cat5 cat5 cat5";
        justify-content: center;
        align-content: center;
    }

    .index_cat_titulo{
        font-size: 1.2em;
    }
}



#index_main_Destacados_Contenedor{
    height: auto;
    font-size: 16px;
    
}

    #index_main_Destacados_Contenedor>h2{
        height: 2.5em;
        font-size: 1.5em;
            font-weight: bolder;
            color: var(--color-principal);
            font-family: "Inter", sans-serif;

        font-family: "Playfair Display", serif;
        display: flex;
            flex-direction: row;
            align-items: center;

        border-bottom: 1px solid lightgray;
    }

.index_main_destacados_Productos{
    display: grid;
        grid-template-columns: repeat(4,23%);
        gap: 15px;
        justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media (min-width: 100px) and (max-width: 800px){
    #index_main_Destacados_Contenedor>h2{
        font-size: .9em !important;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (min-width: 450px) and (max-width: 1000px){

    .index_main_destacados_Productos{
        grid-template-columns: repeat(2,40%);
        grid-template-rows: auto auto;
        gap: 20px;
    }
}

@media (max-width: 450px){
    #index_main_Destacados_Contenedor>h2{
        font-size: .8em;
        margin-left: 10px;
        margin-right: 10px;
    }

    .index_main_destacados_Productos{
        grid-template-columns: 60%;
        grid-template-rows: repeat(4,auto);
        gap: 15px;
    }
    .index_productoDestacado_Producto{
        max-height: 320px;
    }
}


.index_productoDestacado_Producto{
    display: flex;
        flex-direction: column;
        
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 3%;
    
    font-size: 10px;
    min-width: 100px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

@media (min-width:800px) and (max-width: 1000px){

    .index_productoDestacado_Producto{
        font-size: 15px;
    }
}

@media (min-width: 1500px){
    .index_productoDestacado_Producto{
        font-size: 16px;
    }
}


    .index_productoDestacado_Producto_Imagen{
        width: 100%;
        height: 50%;
        background-color: gainsboro;
        border-radius: 3%;
    }
            .index_productoDestacado_Producto_Imagen img{
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
            
    .index_productoDestacado_Producto_Titulo{
        width: 100%;
        height: 40%;
        padding: 4%;
        overflow: hidden;
        font-size: .9em;
        font-family: "Inter", sans-serif;
        text-align: justify;
    }


    .index_productoDestacado_Producto_Titulo>h2{
        margin-bottom: 3%;
    }

    .index_productoDestacado_Producto_Precio{
        width: 100%;
        height: 15%;
        padding: 5%;

        font-weight: bolder;
            color: var(--color-detallesPremium);
            font-size: .9em;
            font-family: "Inter", sans-serif;

        display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
    }

    .index_productoDestacado_Producto_Boton{
        height: 10%;
        width: 100%;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

            .index_productoDestacado_Producto_Boton>button{
                width: 90%;
                height: 60%;
                
                border: none;
                    border-radius: 3px;

                font-size: .9em;
                    font-weight: bolder;
                    font-family: "Inter", sans-serif;
                background-color: var(--color-principal);
                color: white;
                cursor: pointer;
            }



 @media (min-width: 800px){

    .index_heroBanner_div{
        height: 85vh;
        margin-bottom: 1em;
    }
    .index_heroBanner_divTexto{
        font-size: 16px;
    }

    .index_heroBanner_divTexto button{
        font-size: 0.9rem;
    }

    .index_heroBanner_divTexto{
        opacity: 0;               /* Oculto visualmente */
        transition: opacity 0.4s ease; /*  Animación suave */
        pointer-events: none;     /* No interfiere con el hover */
    }

    .index_heroBanner_div:hover .index_heroBanner_divTexto{
        opacity: 1;               /*  Se muestra suavemente */
        pointer-events: auto;     /* Activa interacción si querés */
    }

    .index_main_divInfo{
        font-size: 1rem;
    }

    .indexMain_background_color{
        box-sizing: border-box;
        width: 85% !important;
        padding: 2%;
        font-size: 1rem;
        border-radius: 2%;
        background-color: whitesmoke;
        
        box-shadow: 0 2px 16px rgba(0,0,0,0.07);
        
        margin-bottom: 30px;
    }

 }

