*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.Tablero_Wrapper_Principal{
    width: 100%;
    display: flex;
    justify-content: center;
}


.Tablero_DIV_Principal{
    width: 80vw;
    /* min-width:800px; */
    min-height: 100px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    padding: 20px;
    overflow: scroll;
}

@media (max-width: 800px){
    .Tablero_DIV_Principal{
        width: 100vw ;
    } 

    .Tablero_Etiqueta_Tabla{
        font-size: 12px !important;
        width: auto !important;
     }
}

@media (max-width: 1300px) {

    .Tablero_DIV_Principal h3{
        font-size: 16px;
    }

     .Tablero_Etiqueta_Tabla{
        font-size: 10px;
        width: auto !important;
     }
}

 .Tablero_DIV_Principal h3{
    font-size: 20px;
    font-family: "Playfair Display", serif;
    color: var(--color-principal);
    padding-bottom: 15px;
    border-bottom: 1px solid #E8E8E8;

 }


 .Tablero_Etiqueta_Tabla{
    border-top: solid 1px var(--color-principal);
    border-bottom: solid 1px var(--color-principal);
    border-collapse: collapse; /*Si no se pone esto, el defecto es "separate" y pone espacios en blanco*/
    table-layout: fixed;
    width: 100%;
    text-align: center;
    font-size: 16px; /*MODIFICAR DESPUES EN ESTILOS PARA TELEFONO*/
 }
    .Tablero_Etiqueta_Tabla th{
        color: var(--color-principal);
        border-right: solid 1px var(--color-principal);
        border-bottom: solid 1px var(--color-principal);
    }

    .Tablero_Etiqueta_Tabla th:last-child{
        border-right: none;
    }

    .Tablero_Etiqueta_Tabla td{
        border-right: solid 1px var(--color-principal);
        border-bottom: solid 0.1px var(--color-principal);
    }

    .Tablero_Etiqueta_Tabla td:last-child{
        border-right: none;
    }

.Tablero_Etiqueta_Contenedor_TD_Boton{
    width: 100%;
    height: 100%;
    min-height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

    .Tablero_Etiqueta_Tabla tr button{
        font-size: .8em;
        font-weight: 600;
        border: none;
        background: none;
        
        cursor: pointer;
        transition: .3s ease all;

        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin: 5px;
        padding: 3px;

    }
        .Tablero_Etiqueta_Tabla tr button svg{
            width: 1.5em;
            height: 1.5em;
        }

        .claseDestacadoSpam{
            text-align: center;
            width: 2em !important;
            overflow: hidden;
        }

        .Tablero_Etiqueta_Bot_SVG_Destacar{
            color:gray;
        }
        
        .ProductoDestacado{
            color:var(--color-detallesSuaves);
        }

        .Tablero_Etiqueta_Tabla tr button:hover{
            background: #f2f2f2;
        }

        .Tablero_Etiqueta_Boton_Editar{
            background: rgb(235, 235, 111) !important;
            border: 1.5px solid transparent !important;
            transition: border-color 0.3s ease !important;
        }
            .Tablero_Etiqueta_Boton_Editar:hover{
                border-color: black !important; 
            }

            .Predefect_Width_40{
               width: 40% !important; 
            }


        .Tablero_Etiqueta_Boton_Borrar{
            background:rgb(212, 125, 125) !important;
            border: 1.5px solid transparent !important;
            transition: border-color 0.3s ease !important;
        }
            .Tablero_Etiqueta_Boton_Borrar:hover{
                border-color: black !important; 
            }

            .Predefect_Width_45{
                width: 45% !important;
            }


.TABLERO_DIV_MODAL_CONFIRMACION_ELIMINAR{
    font-size: 16px;
    display: flex;
    gap:1em;
}

    .TABLERO_DIV_MODAL_CONFIRMACION_ELIMINAR button{
        font-size: 1em;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: var(--color-principal);
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: .3s ease all !important;
    }

    .TABLERO_DIV_MODAL_CONFIRMACION_BOT_ELIMINAR:hover{
        background: red !important;
    }

    .TABLERO_DIV_MODAL_CONFIRMACION_BOT_MANTENER:hover{
        background: green !important;
    }

.TABLERO_DIV_SELECTOR_TABLAS{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    gap: 10px;
}
    .TABLERO_DIV_SELECTOR_TABLAS button, .TABLERO_CONFIGURACIONES_PRODUCTOS button{
        font-size: .8em;
        padding: 5px;
        border: none;
        border-radius: 5px;
        background: var(--color-principal);
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: .3s ease all !important;
    }
        .TABLERO_DIV_SELECTOR_TABLAS button:hover{
            background: rgb(85, 74, 74);
        }

    .TABLERO_DIV_SELECTOR_TABLAS_BOTON_SELECCIONADO{
        background: black !important;
    }

.TABLERO_CONFIGURACIONES_PRODUCTOS{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    gap: 10px;
    border-top: 1px solid #E8E8E8;
}
    .TABLERO_CONFIGURACIONES_PRODUCTOS button:hover{
        background: rgb(85, 74, 74);
    }
